/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  background-color: #ff93c7;
  margin: 0;
  padding: 0;
}

img {
  width: 50%; /* Ajusta el tamaño según lo que necesites */
  max-width: 300px; /* Evita que sea demasiado grande */
  height: auto; /* Mantiene la proporción original */
}

h1,
h2,
h3 {
  color: #000000;
}
