/* ============================
   TIPOGRAFÍA PARA TÍTULOS DEL PROYECTO
   ============================ */
@font-face {
  font-family: "PPEditorialOld";
  src: url("../assets/fonts/PPEditorialOld-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("../assets/fonts/PPEditorialOld-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("../assets/fonts/PPEditorialOld-Ultrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("../assets/fonts/PPEditorialOld-UltraboldItalic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("../assets/fonts/PPEditorialOld-Ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("../assets/fonts/PPEditorialOld-UltralightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* ============================
   TIPOGRAFÍA PRINCIPAL DEL PROYECTO
   ============================ */

/* Montserrat - desde Adobe Fonts */
body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Titulares con Editorial Old */
h1,
h2,
.titulo-principal {
  font-family: "PPEditorialOld", serif;
  font-weight: normal;
}
